.pathMarker {
  background: var(--rune-path-gap-inactive);
  box-shadow: 0 0 0.125rem var(--gray-01);
  display: block;
  height: calc(var(--rune-width) / 2 - var(--border-size) * 2);
  transition: all 300ms ease-in-out;
  width: 100%;

  &.activePathMarker {
    background: var(--rune-path-gap-active);
    box-shadow: 0 0 0.125rem var(--text);
  }
}
