.paths {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}

.emptyPaths {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

@media (width >= 768px) {
  .emptyPaths {
    text-align: left;
  }
}
