.talentPoints {
  align-self: center;
  background: var(--background);
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 1rem;
  width: auto;
}

.pointsCounter {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.pointsText {
  color: var(--accent);
  margin: 0;
  min-width: max-content;
  text-align: center;
}
