.main {
  background: url("/assets/talent-calc-bg.png");
  background-size: cover;
  height: calc(100dvh - var(--main-padding-mobile) * 2);
  margin: 0;
  padding: var(--main-padding-mobile);
  width: calc(100% - var(--main-padding-mobile) * 2);
}
