/* Color Palette: https://www.realtimecolors.com/?colors=ecf0f3-0f141a-a4bad0-37597b-6dabe8&fonts=Inter-Inter */

:root {
  --text: #ecf0f3;
  --background: #0f141a;
  --gray-01: #4b4b4b;
  --primary: #a4bad0;
  --secondary: #37597b;
  --accent: #6dabe8;
  --rune-path-gap-inactive: #1a1c1d;
  --rune-path-gap-active: #303234;
  --rune-width: 50px;
  --rune-height: 50px;
  --border-size: 0.25rem;
  --main-padding-mobile: 2rem;
  --border-linear-inactive-01: linear-gradient(
    0deg,
    var(--gray-01),
    50%,
    var(--background)
  );
  --border-linear-inactive-02: linear-gradient(
    var(--gray-01),
    50%,
    transparent 0
  );
  --border-linear-active-01: linear-gradient(
    0deg,
    var(--accent),
    50%,
    var(--background)
  );
  --border-linear-active-02: linear-gradient(var(--accent), 50%, transparent 0);
}

body {
  box-sizing: border-box;
  color: var(--text);
  margin: 0;
}
