.main {
  background: url("/assets/talent-calc-bg.png");
  background-size: cover;
  height: calc(100dvh - var(--main-padding-mobile) * 2);
  margin: 0;
  padding: var(--main-padding-mobile);
  width: calc(100% - var(--main-padding-mobile) * 2);
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  background: var(--background);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

@media (width >= 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
}
